.projectCard {
  /* outline: 1px solid red; */
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0px 2px 6px #00000045;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projectCard img {
  transition: all 1s;
}

.projectCard:hover {
  cursor: pointer;
  box-shadow: 0px 10px 10px #00000045;
}

.projectCard:hover img {
  transform: scale(1.2);
}

.projectCard:hover .projectCardInfo h3 {
  color: var(--primarygreen);
}

.projectCardInfo {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: var(--backgroundmaroongradient);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  min-height: 5rem;
  width: 20rem;
  z-index: 99;
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  margin: 0.5rem;
}

.projectCardInfo p {
  margin: 0px;
}

.projectCardInfo h3 {
  font-size: 16px;
  color: white;
}