.contactForm {
  padding: 2rem;
  background: var(--backgroundmaroongradient);
  border-radius: 20px;
  box-shadow: 0px 2px 6px #00000045;
  backdrop-filter: blur(5px);
  border: var(--backgroundmaroonborder);
}

.contactForm fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.contactForm input, .contactForm textarea {
  background: var(--backgroundmaroongradient);
  border: var(--backgroundmaroonborder);
  backdrop-filter: blur(5px);
  box-shadow: inset 0px 2px 6px #00000045;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  width: 20rem;
  border: none;
  color: white;
  transition: all 0.5s ease-in-out;
}

.contactForm textarea {
  min-height: 8rem;
  min-width: 20rem;
  max-width: 20rem;
  max-height: 15rem;
}

.contactForm input::placeholder, .contactForm textarea::placeholder {
  color: var(--primarygreen);
}

.contactForm input:focus, .contactForm textarea:focus {
  background-color: rgba(255, 255, 255, 0.161);
  outline: none;
  box-shadow: 0px 2px 6px #00000045;
}

.contactForm button {
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 20px;
  border: none;
  background-color: var(--primarygreen);
  transition: all 0.5s ease-in-out;
}

.contactForm button:hover {
  cursor: pointer;
  background-color: white;
}
