:root {
  --primarygreen: #03fcb6;
  --backgroundpurple: #242438;
  --backgroundmaroon: #1e132396;
  --backgroundmaroongradient: linear-gradient(-90deg, rgba(30, 19, 35, 0.616) 20%, rgba(36, 36, 56, 0.699) 100%);
  --backgroundmaroonborder: 1.5px solid #31314bd0;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: var(--fontPoppins);
  max-width: 100vw;
  margin: 0px;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundpurple);
  background: rgb(36, 36, 56);
  background: linear-gradient(-90deg, rgba(36, 36, 56, 1) 20%, rgba(36, 58, 60, 1) 100%);
  padding-left: 15rem;
  padding-right: 15rem;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: var(--backgroundpurple);
}

body::-webkit-scrollbar-thumb {
  background: var(--primarygreen);
}

input, textarea, button {
  font-family: var(--fontPoppins);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  max-width: 40rem;
  color: white;
  font-weight: 200;
  margin-bottom: 1rem;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primarygreen);
  /* color: white; */
  margin-bottom: 0.3rem;
  font-weight: 300;
  /* font-family: var(--fontNothingYouCouldDo); */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

ul {
  color: white;
  font-weight: 200;
  list-style: none;
  /* margin-left: 1rem; */
  font-size: 14px;
  max-width: 35rem;
}

li::before {
  display: inline-block;
  text-align: center;
  vertical-align: center;
  content: "•";
  font-weight: bold;
  font-size: 16px;
  color: var(--primarygreen);
  margin-right: 0.5rem;
}

::selection {
  color: var(--backgroundpurple);
  background: var(--primarygreen);
}

@media only screen and (max-width: 1850px) {
  body {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media only screen and (max-width: 1600px) {
  body {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
  }
}

@media only screen and (max-width: 1400px) {
  body {
    padding-left: 7rem;
    padding-right: 7rem;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media only screen and (max-width: 992px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 599px) {
  body {
    padding-left: 1rem;
    padding-right: 1rem;
  } 
}