:root {
  --primarygreen: #03fcb6;
  --backgroundpurple: #242438;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0px;
}

body {
  background-color: var(--backgroundpurple);
  padding-left: 10rem;
  padding-right: 10rem;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

body::-webkit-scrollbar-thumb {
  background: var(--primarygreen);
}

a {
  color: inherit;
  text-decoration: none;
}


