.landingSection {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* outline: 1px solid rgb(60, 255, 0); */
}

.aboutSection {
  height: 100vh;
  /* outline: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.aboutSection section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.aboutSectionInfo {
  display: flex;
  flex-direction: column;
}

.aboutSectionInfoGreenBackgrounds {
  background-color: var(--primarygreen);
  box-shadow: 0px 5px 6px #00000045;
}

.aboutSectionInfoGreenBackgrounds li::selection, .aboutSectionInfoGreenBackgrounds h3::selection {
  color: var(--primarygreen);
  background: var(--backgroundpurple);
}

.aboutSectionInfoGreenBackgrounds p, .aboutSectionInfoGreenBackgrounds h3, .aboutSectionInfoGreenBackgrounds ul {
  color: var(--backgroundpurple);
}

.aboutSectionInfo section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
  margin-bottom: 1rem;
  /* outline: 1px solid magenta; */
  /* outline: 5px solid var(--primarygreen); */
}

.skillsList {
  column-count: 2;
  column-gap: 20px;
}