.desktopNav {
  color: white;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.desktopNav a {
  padding: 1rem;
  font-size: 18px;
  font-weight: 200;
  /* transition: all 0.5s; */
}

.desktopNav a:hover {
  color: var(--primarygreen);
}

@media only screen and (max-width: 599px) {
  .desktopNav {
    display: none;
  }
}